<%= form_with(model: idea, local: true) do |form| %>
  <div id="error-popup" style="display: none; background: red; color: white; padding: 10px; position: fixed; top: 20px; left: 50%; transform: translateX(-50%); z-index: 1000;text-align: center;">
    <div style="margin-bottom: 2px;">
      <span id="error-message"></span>
      </div>
    <button type="button" onclick="document.getElementById('error-popup').style.display='none'" style="margin-top: 10px;">Close</button>
  </div>

  <% if idea.errors.any? %>
    <script>
      document.getElementById('error-message').innerText = "<%= idea.errors.full_messages.first.html_safe %>";
      document.getElementById('error-popup').style.display = 'block';
    </script>
  <% end %>
  <div>
    <%= form.label :"name *", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :picture, style: "display: block" %>
    <%= form.file_field :picture %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
